# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# changelog
CHANGELOG.md

# readme
README.md

/databases
/mysql
/minio_data